:root {
  font-family: Menlo, Consolas, Monaco, monospace;
  --background-color: white;
  --secondary-background-color: #333333;
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1d1d1d;
    --secondary-background-color: #131313;
    --text-color: white;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  min-height: 100%;
  width: 100vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.nav-menu {
  z-index: 100;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  flex: none;
  background-color: var(--secondary-background-color);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.nav-menu-link {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.5s;
}

.nav-menu-link:hover {
  opacity: 50%;
}

.main-page-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}

#contact-menu-area {
  margin-top: 12px;
  padding: 16px;
  width: 100%;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.contact-menu {
  height: 100%;
  padding: 4px;
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-menu-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* none of these are actually buttons; they are anchors because i want 
   the link to appear in the bottom left */

.contact-menu-button {
  padding: 6px;
  opacity: 100%;
  transition: opacity 0.5s;
  color: inherit;
  border-radius: 10%;
  border: 1px solid white;
}

.contact-menu-button:hover {
  opacity: 50%;
}

#github-button {
  background-color: black;
  color: white;
}

#linkedin-button {
  background-color: lightskyblue;
}

#mailto-button {
  background-color: lightblue;
}
