.main-content-area {
  display: flex;
}

.circling-scripts-animation-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

#self-intro-area {
  flex: 1;
  padding: 10px;
  text-align: center;
}

#self-intro-header {
  padding-bottom: 40px;
}

#self-intro-about-me {
  padding-bottom: 20px;
}

#self-intro-about-projects {
  padding-bottom: 20px;
}

.main-page-content-top {
  display: flex;
  flex-direction: row;
}
